@import "react-toastify/dist/ReactToastify.css";
@import "tailwindcss";

.price-range {
  pointer-events: none;
}

.price-range::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  border: 2px solid #111111;
  background: white;
  cursor: pointer;
  transition: border-color 200ms ease;
}

.price-range::-moz-range-thumb {
  pointer-events: auto;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  border: 2px solid #111111;
  background: white;
  cursor: pointer;
  transition: border-color 200ms ease;
}

.text-two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
